#grid_menu {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    /* Ajusta el espacio entre las columnas según tus preferencias */
}

#grid_menu>div {
    text-align: center;
    /* Alinea el contenido al centro si es necesario */
}

.foto_pizza,
.img_menu {
    max-width: 100%;
    /* Ajusta el tamaño máximo de las imágenes según tus preferencias */
    height: auto;
    /* Mantiene la proporción de aspecto de las imágenes */
}

.ticket {
    border: 1px solid #ccc;
    /* Añade un borde al contenedor del ticket si es necesario */
    padding: 10px;
    /* Ajusta el espaciado interno del contenedor del ticket según tus preferencias */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Añade una sombra al contenedor del ticket si es necesario */
}


table {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;

}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* Estilos para el encabezado de la tabla */
thead th {
    background-color: #333;
    color: #fff;
}

/* Estilos para resaltar el primer registro (encabezado) */
tr:first-child {
    font-weight: bold;
}

/* Estilos para resaltar las filas al pasar el mouse sobre ellas */
tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}