/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section img {
    width: 0;
    height: 400px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.menu {
    text-align: center;
    padding: 50px 0;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.menu-item {
    margin: 20px;
    display: inline-block;
    text-align: left;
}

.menu-item img {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-item h3 {
    font-size: 24px;
    margin: 10px 0;
}

.menu-item p {
    margin: 10px 0;
    color: #777;
}

.menu-item span {
    font-size: 24px;
    color: #f00;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para los botones */
input[type="submit"] {
    background: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Cambia el color del botón cuando se pasa el ratón */
input[type="submit"]:hover {
    background: #45a049;
}
