/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section img {
    width: 0;
    height: 400px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.menu {
    text-align: center;
    padding: 50px 0;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.menu-item {
    margin: 20px;
    display: inline-block;
    text-align: left;
}

.menu-item img {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-item h3 {
    font-size: 24px;
    margin: 10px 0;
}

.menu-item p {
    margin: 10px 0;
    color: #777;
}

.menu-item span {
    font-size: 24px;
    color: #f00;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para el formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para los botones */
input[type="submit"] {
    background: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Cambia el color del botón cuando se pasa el ratón */
input[type="submit"]:hover {
    background: #45a049;
}

#container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 20px;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: lightblue;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

#plantilla_menu {
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea un grid de 3 columnas */
    gap: 20px; /* Espacio entre los elementos */
}

.menu-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.menu-item h3 {
    font-size: 18px;
}

.menu-item p {
    margin: 10px 0;
}

.menu-item img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
}


.menu-item img:hover {
    transform: scale(1.1);
}


/* style.css */
.welcome {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.welcome p {
    font-size: 16px;
}

.welcome span {
    font-weight: bold;
    font-size: 18px;
}
