<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Datos de las Pizzas</title>
    <link href="{% static 'PizzeriaWebApp/css/datos.css' %}" rel="stylesheet">
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
            </ul>
            <div>
                <p>Bienvenido {{ request.session.username }}</p>
            </div>
        </nav>
    </header>
    <h1>Datos de las Pizzas</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Masa</th>
            <th>Salsa</th>
            <th>Ingredientes</th>
            <th>Técnica de Cocción</th>
            <th>Presentación</th>
            <th>Maridaje</th>
            <th>Extras</th>
            <th>Tamaño</th>
        </tr>
        {% for pizza in pizzas %}
        <tr>
            <td>{{ pizza.id }}</td>
            <td>{{ pizza.masa }}</td>
            <td>{{ pizza.salsa }}</td>
            <td>{{ pizza.ingredientes|join:", " }}</td>
            <td>{{ pizza.tecnica }}</td>
            <td>{{ pizza.presentacion }}</td>
            <td>{{ pizza.maridaje }}</td>
            <td>{{ pizza.extras|join:", " }}</td>
            <td>{{ pizza.tamaño }}</td>
        </tr>
        {% endfor %}
    </table>
    <footer>
        <p>&copy; 2023 Pizzeria - Todos los derechos reservados</p>
    </footer>
</body>

</html>