<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzería Delizioso</title>
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
            </ul>
            <div>
                <p>Bienvenido {{ request.session.username }}</p>
            </div>
        </nav>
    </header>
    <div id="container">
        <h2>Las Mejores Pizzas</h2>
        <p>¡Ven y prueba nuestras deliciosas pizzas!</p>
        <button id="pizza">Pedir Pizza</button>
        <p>¿No sabes qué pizza pedir?</p>
        <button id="recomendaciones">Recomendaciones</button>
        <p>¿Te atreves con nuestros increíbles menús?</p>
        <button id="menu">Menús</button>
    </div>
    <section>
        <img src="{% static 'PizzeriaWebApp/img/Barbacoa.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/Carbonara.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/Cuatro estaciones.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/Cuatro quesos.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/Diávola.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/Funghi.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/Hawaiana.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/vegetariana.jpg' %}" alt="Pizza">
    </section>
    <footer>
        <p>&copy; 2023 Pizzeria - Todos los derechos reservados</p>
    </footer>
    <script>
        const button = document.querySelector('#pizza');
        const button2 = document.querySelector('#recomendaciones');
        const button3 = document.querySelector('#menu');
        button.addEventListener('click', () => {
            window.location.href = "{% url 'pizza' %}";
        });
        button2.addEventListener('click', () => {
            window.location.href = "{% url 'recomendaciones' %}";
        });
        button3.addEventListener('click', () => {
            window.location.href = "{% url 'menu' %}";
        });
    </script>
</body>

</html>