<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzería Delizioso</title>
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
            </ul>
        </nav>
    </header>
    <div class>
        <h2>Las Mejores Pizzas</h2>
        <p>¡Ven y prueba nuestras deliciosas pizzas!</p>
        <a href="{% url 'menu' %}">Ver Menú</a>
    </div>
    <section>
        <img src="{% static 'PizzeriaWebApp/img/pizza1.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/pizza2.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/pizza3.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/pizza4.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/pizza5.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/pizza6.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/pizza7.jpg' %}" alt="Pizza">
        <img src="{% static 'PizzeriaWebApp/img/pizza8.jpg' %}" alt="Pizza">
    </section>
    <div class="contact">
        <h2>Contacto</h2>
        <p>¡Contáctanos para hacer tu pedido!</p>
        <address>
            <p>Dirección: 123 Calle Principal</p>
            <p>Teléfono: +1 (123) 456-7890</p>
            <p>Email: info@pizzeria-delizioso.com</p>
        </address>
    </div>
    <footer>
        <p>&copy; 2023 Pizzería Delizioso</p>
    </footer>
</body>
</html>
