<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzería Delizioso</title>
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <h2>Las Mejores Pizzas</h2>
        <p>¡Ven y prueba nuestras deliciosas pizzas!</p>
        <a href="{% url 'menu' %}">Ver Menú</a>
    </section>
    <section class="menu">
        <h2>Nuestro Menú</h2>
        <div class="menu-item">
            <img src="{% static 'PizzeriaWebApp/img/pizza1.jpg' %}" alt="Pizza Margarita">
            <h3>Pizza Margarita</h3>
            <p>Tomate, mozzarella, albahaca.</p>
            <span>$10.99</span>
        </div>
        <div class="menu-item">
            <img src="{% static 'PizzeriaWebApp/img/pizza2.jpg' %}" alt="Pizza Pepperoni">
            <h3>Pizza Pepperoni</h3>
            <p>Tomate, mozzarella, pepperoni.</p>
            <span>$12.99</span>
        </div>
        <!-- Agrega más elementos del menú aquí -->
    </section>
    <section class="contact">
        <h2>Contacto</h2>
        <p>¡Contáctanos para hacer tu pedido!</p>
        <address>
            <p>Dirección: 123 Calle Principal</p>
            <p>Teléfono: +1 (123) 456-7890</p>
            <p>Email: info@pizzeria-delizioso.com</p>
        </address>
    </section>
    <footer>
        <p>&copy; 2023 Pizzería Delizioso</p>
    </footer>
</body>
</html>
