<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
    <!-- Agregar enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Menú Familiar</title>
</head>

<body>
    <h2>Menú Familiar</h2>
    <form method="post" action="{% url 'menufamiliar' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Menú</button>
    </form>
</body>

</html>