<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Menú - Pizzería Delizioso</title>
</head>

<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
            </ul>
            <div>
                <p>Bienvenido {{ request.session.username }}</p>
            </div>
        </nav>
    </header>
    <div id="plantilla_menu">
        <h1>Nuestro Menú</h1>
        <div class="menu-grid">
            <div class="menu-item">
                <h3>Menú Individual</h3>
                <img src="{% static 'PizzeriaWebApp/img/pizza1.jpg' %}" alt="Pizza Margarita">
                <button id="btnIndividual">Añadir al carrito</button>

            </div>
            <div class="menu-item">
                <h3>Menú Doble</h3>
                <img src="{% static 'PizzeriaWebApp/img/pizza2.jpg' %}" alt="Pizza Pepperoni">
                <button id="btnDoble">Añadir al carrito</button>

            </div>
            <div class="menu-item">
                <h3>Menú triple</h3>
                <img src="{% static 'PizzeriaWebApp/img/pizza3.jpg' %}" alt="Pizza Barbacoa">
                <button id="btnTriple">Añadir al carrito</button>

            </div>
            <div class="menu-item">
                <h3>Menú familiar</h3>
                <img src="{% static 'PizzeriaWebApp/img/pizza4.jpg' %}" alt="Pizza Carbonara">
                <button id="btnFamiliar">Añadir al carrito</button>
            </div>
            <div class="menu-item">
                <h3>Menú infantil</h3>
                <img src="{% static 'PizzeriaWebApp/img/pizza4.jpg' %}" alt="Pizza Carbonara">
                <button id="btnInfantil">Añadir al carrito</button>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Pizzeria - Todos los derechos reservados</p>
    </footer>
    <script>
        let btnIndividual = document.getElementById("btnIndividual");
        let btnDoble = document.getElementById("btnDoble");
        let btnTriple = document.getElementById("btnTriple");
        let btnFamiliar = document.getElementById("btnFamiliar");
        let btnInfantil = document.getElementById("btnInfantil");

        btnIndividual.onclick = function() {
            location.href = "{% url 'pizza' %}";
        };

        btnDoble.onclick = function() {
            location.href = "{% url 'menudoble' %}";
        };

        btnTriple.onclick = function() {
            location.href = "{% url 'menutriple' %}";
        };

        btnFamiliar.onclick = function() {
            location.href = "{% url 'menufamiliar' %}";
        };

        btnInfantil.onclick = function() {
            location.href = "{% url 'menuinfantil' %}";
        };

    </script>
</body>

</html>