<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Datos de las Pizzas</title>
    <link href="{% static 'PizzeriaWebApp/css/datos.css' %}" rel="stylesheet">
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Recomendaciones</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
            </ul>
            <div>
                <p>Bienvenido {{ request.session.username }}</p>
            </div>
        </nav>
    </header>
    <h2>Pedidos</h2>
    <p style="text-align: center;">En esta sección se mostrará el último pedido realizados por el usuario</p>
    <table>
        <tr>
            <th>Masa</th>
            <th>Salsa</th>
            <th>Ingredientes</th>
            <th>Técnica de Cocción</th>
            <th>Presentación</th>
            <th>Maridaje</th>
            <th>Extras</th>
        </tr>
        <tr>
            <td>{{ pizza.masa }}</td>
            <td>{{ pizza.salsa }}</td>
            <td>{{ pizza.ingredientes|join:", " }}</td>
            <td>{{ pizza.tecnica }}</td>
            <td>{{ pizza.presentacion }}</td>
            <td>{{ pizza.maridaje }}</td>
            <td>{{ pizza.extras|join:", " }}</td>
        </tr>
    </table>
    <div style="position: relative; left: 30%; top: 0;">
        <img src="{% static 'PizzeriaWebApp/img/ingredientes/Masa.png' %}" class="masa" />
        {% for ingrediente in pizza.ingredientes %}
        <img src="{% static 'PizzeriaWebApp/img/ingredientes/' %}{{ ingrediente }}.png" class="alimento" />
        {% endfor %}
    </div>

    <div style="position: relative; left: 60%; top: 0;">

        <img src="{% static 'PizzeriaWebApp/img/maridaje/' %}{{ pizza.maridaje }}.png" class="bebida" />

    </div>
    <div class="ticket">
        <div class="header">
            Pizzería Delizioso
        </div>
        <div class="content">
            Pedido: Pizza personalizada
        </div>
        <div class="content">
            Total: 12.99€
        </div>
        <div class="footer">
            Gracias por tu pedido.
        </div>
    </div>
</body>

</html>