<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Datos de las Pizzas</title>
    <link href="{% static 'PizzeriaWebApp/css/datos.css' %}" rel="stylesheet">
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
            </ul>
            <div>
                <p>Bienvenido {{ request.session.username }}</p>
            </div>
        </nav>
    </header>
    <h2>Pedidos</h2>
    <p style="text-align: center;">En esta sección se mostrará el último pedido realizados por el usuario</p>
    <table>
        <tr>
            <th>Masa</th>
            <th>Salsa</th>
            <th>Ingredientes</th>
            <th>Técnica de Cocción</th>
            <th>Presentación</th>
            <th>Maridaje</th>
            <th>Extras</th>
            <th>Tamaño</th>
        </tr>
        <tr>
            <td>{{ pizza.masa }}</td>
            <td>{{ pizza.salsa }}</td>
            <td>{{ pizza.ingredientes|join:", " }}</td>
            <td>{{ pizza.tecnica }}</td>
            <td>{{ pizza.presentacion }}</td>
            <td>{{ pizza.maridaje }}</td>
            <td>{{ pizza.extras|join:", " }}</td>
            <td>{{ pizza.tamaño }}</td>
        </tr>
    </table>
    <div id="grid">
        <div style="position: relative">
            <img src="{% static 'PizzeriaWebApp/img/ingredientes/Masa.png' %}" class="masa" />
            {% for ingrediente in pizza.ingredientes %}
            <img src="{% static 'PizzeriaWebApp/img/ingredientes/' %}{{ ingrediente }}.png" class="alimento" />
            {% endfor %}
        </div>

        <div>

            <img src="{% static 'PizzeriaWebApp/img/maridaje/' %}{{ pizza.maridaje }}.png" class="bebida" />

        </div>
        <div class="ticket">
            <div class="header">
                Pizzería Delizioso
            </div>
            <div class="content">
                <strong>Masa:</strong> {{ pizza.masa }}
            </div>
            <div class="content">
                <strong>Salsa:</strong> {{ pizza.salsa }}
            </div>
            <div class="content">
                <strong>Ingredientes:</strong> {{ pizza.ingredientes|join:", " }}
            </div>
            <div class="content">
                <strong>Técnica de Cocción:</strong> {{ pizza.tecnica }}
            </div>
            <div class="content">
                <strong>Presentación:</strong> {{ pizza.presentacion }}
            </div>
            <div class="content">
                <strong>Maridaje:</strong> {{ pizza.maridaje }}
            </div>
            <div class="content">
                <strong>Extras:</strong> {{ pizza.extras|join:", " }}
            </div>
            <div class="content">
                <strong>Precio:</strong> {{ pizza.precio }} €
            </div>

            <div class="footer">
                Gracias por tu pedido.
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Pizzeria - Todos los derechos reservados</p>
    </footer>
</body>

</html>