<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
    <!-- Agregar enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Crea tu pizza personalizada</title>
</head>

<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
            </ul>
            <div>
                <p>Bienvenido {{ request.session.username }}</p>
            </div>
        </nav>
    </header>
    <div class="container">
        <h2>Crea tu pizza personalizada</h2>
        <form method="post" action="{% url 'pizza' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Pizza</button>
        </form>
    </div>
    <footer>
        <p>&copy; 2023 Pizzeria - Todos los derechos reservados</p>
    </footer>
</body>

</html>