<!-- recomendaciones.html -->


<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Datos de las Pizzas</title>
    <link href="{% static 'PizzeriaWebApp/css/datos.css' %}" rel="stylesheet">
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <header>
        <h1>Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'pizza' %}">Pizza</a></li>
                <li><a href="{% url 'datos' %}">Datos</a></li>
            </ul>
            <div>
                <p>Bienvenido {{ request.session.username }}</p>
            </div>
        </nav>
    </header>
    <div id="container">
        <h1>Recomendaciones de Pizzas</h1>
        <ul id="recomendaciones">
            {% for pizza in recomendaciones %}
            <li id="recomendaciones">{{ pizza.masa }}, {{ pizza.salsa }}, {{ pizza.ingredientes|join:", " }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>