<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link href="{% static 'PizzeriaWebApp/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1>Registro de Usuario</h1>
    <form method="post" action="{% url 'registro' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Registrarse">
    </form>
</body>

</html>
